Django>=5.0,<6.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0
pymupdf
dj-database-url>=2.0,<3.0
PyPDF2>=3.0,<4.0
langchain-text-splitters
langchain-openai==1.0.0
faiss-cpu
numpy
gunicorn==21.2.0
whitenoise==6.7.0